<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/layout :: head">

<body>
<header th:replace="/layout :: header"/>

<main class="container-fluid" sec:authorize="isAuthenticated()">
    <article class="row justify-content-center">

        <div class="col-8 mt-3">
            <a th:href="@{games/create}"><button class="btn btn-success">New</button></a>
        </div>

        <div class="col-8 mt-3" th:each="game: ${games}">
            <section class="card text-dark bg-light">
                <div class="card-horizontal" style="display: flex; flex: 1 1 auto">
                    <div class="img-square-wrapper col-3">
                        <img class="img-fluid" th:src="${game.cover}" alt="cover" style="height: auto; max-width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title float-left">
                            <span class="text-muted">Title: </span>
                            <span th:text="${game.title}"></span>
                        </h4>
                        <h4 class="card-title float-left">
                            <span class="text-muted">Author: </span>
                            <span th:text="${game.author}"></span>
                        </h4>
                        <p class="card-text" th:text="${game.description}"></p>
                        <a class="col-3 align-bottom" th:href="@{/games/{id}(id=${game.id})}">
                            <button class="btn btn-info">Details</button>
                        </a>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <span>published at</span>
                        <span th:text="${game.formattedDate}"></span>
                    </small>
                </div>
            </section>
        </div>
    </article>
</main>
</body>
</html>
