<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/layout :: head">

<body>
<header th:replace="/layout :: header"/>

<main class="container-fluid" sec:authorize="isAuthenticated()">
    <article class="row justify-content-center">
        <div class="col-8 mt-3">
            <section class="card text-dark bg-light">
                <div class="card-horizontal" style="display: flex; flex: 1 1 auto">
                    <div class="img-square-wrapper col-4">
                        <img class="img-fluid" th:src="${movie.cover}" alt="cover" style="height: auto; max-width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title float-left">
                            <span class="text-muted">Title: </span>
                            <span th:text="${movie.title}"></span>
                        </h4>
                        <h4 class="card-title float-left">
                            <span class="text-muted">Director: </span>
                            <span th:text="${movie.author}"></span>
                        </h4>
                        <h4 class="card-title float-left">
                            <span class="text-muted">Publisher: </span>
                            <span th:text="${movie.publisher}"></span>
                        </h4>
                        <h4 class="card-title float-left">
                            <span class="text-muted">Release date: </span>
                            <span th:text="${movie.releaseDate}"></span>
                        </h4>

                        <p class="card-text" th:text="${movie.description}"></p>

                        <a class="col-3" th:if="${isInCustomerLibrary}" th:href="@{/movies/{id}(id=${movie.id})}">
                            <form action="/item/remove" method="post">
                                <input type="hidden" name="itemId" th:value="${movie.id}"/>
                                <input type="hidden" name="itemType" th:value="movies"/>
                                <input type="submit" class="btn btn-danger" value="Remove from library"/>
                            </form>
                        </a>
                        <a class="col-3" th:if="${!isInCustomerLibrary}" th:href="@{/movies/{id}(id=${movie.id})}">
                            <form action="/item/create" method="post">
                                <input type="hidden" name="itemId" th:value="${movie.id}"/>
                                <input type="hidden" name="itemType" th:value="movies"/>
                                <input type="submit" class="btn btn-success" value="Add to library"/>
                            </form>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </article>
    <br>
    <article class="row justify-content-center">
        <div class="col-8 mt-3">
            <hr>
            <h2>Comments:</h2>
        </div>
        <form class="form-group col-8 mt-3" action="/comment/create" method="post">
            <textarea class="form-control" rows="3" minlength="1" maxlength="255" name="content" wrap="soft" required
                      placeholder="Write your message!"></textarea>
            <input type="hidden" name="itemId" th:value="${movie.id}"/>
            <input type="hidden" name="itemType" th:value="movies"/>
            <input type="submit" class="btn btn-info col-2 float-end" style="margin-top: 6px;" value="Send"/>
        </form>
        <div class="col-8 mt-3" th:each="comment: ${comments}">
            <section class="card text-dark bg-light" >
                <div class="card-horizontal" style="display: flex; flex: 1 1 auto">
                    <div class="img-square-wrapper col-1">
                        <img class="img-fluid" th:src="@{/img/comment.png}" alt="comment" style="height: auto; max-width: 100%">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title float-left">
                            <b><span th:text="${comment.author}"></span></b>
                        </h6>

                        <p class="card-text" th:text="${comment.content}"></p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <span>@ </span>
                        <span th:text="${comment.timestamp}"></span>
                    </small>
                </div>
                <br>
            </section>
        </div>
    </article>
</main>
</body>
</html>
