<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="../static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet">
</head>

<head th:replace="/layout :: head">

<body>
<header th:replace="/layout :: header"/>

<form action="#" th:action="@{/register}" th:object="${newUser}" method="post" class="form-signin col-md-12 col-xs-12"
      role="form">
    <div class="form-signin-heading col-md-12 col-xs-12">REGISTRATION</div>

    <div class="form-group col-xs-12 col-md-12">

        <div class="m-b-10 register-field">
            <input class="form-control" type="text" th:field="*{username}" placeholder="Login"/>
            <div>
                <a style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></a>
            </div>
        </div>

        <div class="m-b-10 register-field">
            <input class="form-control" type="password" th:field="*{password}" placeholder="Password"/>
            <div>
                <a style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></a>
            </div>
        </div>


        <div class="m-b-10 register-field">
            <input class="form-control" type="password" th:field="*{rePassword}" placeholder="Confirm password"/>
            <div>
                <a style="color: red" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"></a>
            </div>
        </div>


        <div class="form-group register-button">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </div>
</form>
</body>
</html>